
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.imageContainer {
  position: relative;
  display: inline-block;
  margin: 20px 0;
}

.imageContainer img {
  width: 100%;
  max-width: 900px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.imageOverlayButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img[alt="new-registration"] { 
  max-width:  350px;
}